<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :make %>
    <%= form.select :make, options_for_select(@car_makes), include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.select :model, options_for_select(@car_models), include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :list_price, "List Price" %>
    <%= form.text_field :list_price %>
  </div>

  <div class="field">
    <%= form.label :vin %>
    <%= form.text_field :vin %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :body_style, "Body Style" %>
    <%= form.text_field :body_style %>
  </div>

  <div class="field">
    <%= form.label :year, "Year" %>
    <% year = Date.today.year %>
    <%= form.select :year, options_for_select((year-60)..(year+1), year)  %>
  <div>

    <div class="field">
    <%= form.label :sold %>
    <%= form.select(:available, options_for_select([['No', true], ['Yes', false]])) %>
  </div>

  <div class="field">
    <%= form.label :sold_by, "Sold By:" %>
    <%= form.collection_select(:sold_by, Staff.all, :id, :last_name) %>
  </div>

  <div class="field">
    <%= form.label :sale_price, "Sale Price" %>
    <%= form.text_field :sale_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
