<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>List Price:</strong>
  <%= @car.list_price %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Body Style:</strong>
  <%= @car.body_style %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Available:</strong>
  <%= @car.available ? "Yes" : "No" %>
</p>

<p>
  <strong>Sold By:</strong>
  <% person = Staff.find(@car.sold_by)%>
  <%= person.last_name %>
</p>

<p>
  <strong>Sale Price:</strong>
  <%= @car.sale_price %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
